# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual environments
.env
.venv/
env/
venv/

# macOS
.DS_Store

# Flask instance folder (contains database)
instance/

# VS Code
.vscode/

# Logs
*.log